* {
	font-family: CALICOMP;
	font-size: 20
}

window {
	background-color: rgba(36, 39, 58, 0.9);
	border-left: 2px solid #5b6078;
	border-right: 2px solid #5b6078;
	border-top: 2px solid #5b6078;
	border-bottom: 2px solid #5b6078;
	border-radius: 0px;
}

#input {
	color: #cad3f5;
	background-color: rgba(73, 77, 100, 0.9);
	border-radius: 0px;
	border-color: #5b6078;
}

#entry:selected {
	background-color: #494d64;
	border-left: 2px solid #8aadf4;
	border-right: 2px solid #8aadf4;
	border-top: 2px solid #8aadf4;
	border-bottom: 2px solid #8aadf4;
}
